

@{
    ViewData["Title"] = "Department List";
}

<h1>Departments List</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>

            <th>Name</th>
            <th>Description</th>
            <th>NumOfEmployee</th>
            <th>Requirment</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var Dps in Model)
        {
            <tr>
                <td>@Dps.Id</td>

                <td>@Dps.Name</td>
                <td>@Dps.Description</td>
                <td>@Dps.NumOfEmployee</td>
                <td>@Dps.Requirment</td>
                <td>
                    <a asp-controller="Department" asp-action="Details" asp-route-id="@Dps.Id" class="btn btn-info btn-sm">Details</a>
                </td>
                <td>
                    <a asp-controller="Department" asp-action="Edit" asp-route-id="@Dps.Id" class="btn btn-warning btn-sm">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');">
                        <input type="hidden" name="id" value="@Dps.Id" />

                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>


            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Department")" class="btn btn-primary">Add New User</a>
